/* Clases comunes a todas las paginas ---------------------------------------*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

html {
  color: #f0f0f0;
  font-family: Roboto, Helvetica, sans-serif;
  scroll-behavior: smooth; }

#gridGeneral {
  display: grid;
  grid-template-areas: "cabecera menu" "contenido contenido" "pie pie";
  grid-gap: 0px;
  grid-template-rows: 60px auto 50px;
  grid-template-columns: 50% 50%;
  height: 100vh;
  background-color: #0f0f0f; }

header {
  grid-area: cabecera;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0f0f; }
  header h1 {
    line-height: 60px;
    padding-left: 15px; }
  header div {
    display: flex; }

nav {
  grid-area: menu;
  display: flex;
  margin-left: auto; }
  nav ul {
    list-style-type: none;
    padding-top: 4px; }
    nav ul li {
      display: inline;
      padding-right: 20px; }
      nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        line-height: 60px;
        color: #f0f0f0; }
        nav ul li a:hover {
          color: #ffffff;
          animation: glow 2s ease-in-out infinite alternate; }

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9; }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7; } }

section.contenidoPrincipal {
  grid-area: contenido; }

.tituloPagina {
  width: 100%;
  text-align: center; }

footer {
  grid-area: pie;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
  border-top: 1px solid grey; }
  footer a {
    text-decoration: none;
    color: #00ca87; }
    footer a:hover {
      color: #00ffaa; }

/* Clases para index.html ---------------------------------------------------*/
.fotoIndex {
  width: 100%;
  height: auto;
  margin-bottom: 20px; }

.textoIndex {
  padding: 20px;
  text-align: justify;
  background: #0f0f0f; }
  .textoIndex p {
    line-height: 35px; }
    .textoIndex p:last-child {
      padding-bottom: 20px; }

/* Clases para nosotros.html ------------------------------------------------*/
.contenido.nosotros {
  display: flex;
  flex-direction: column;
  padding: 0px 40px 40px 40px;
  text-align: justify; }
  .contenido.nosotros h3 {
    padding-bottom: 10px; }
  .contenido.nosotros p {
    padding-bottom: 10px; }

.linksInternos {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 60px;
  color: #f0f0f0;
  font-size: 0.9rem;
  padding: 0px 15px 0px 15px; }
  .linksInternos:hover {
    color: #fff;
    animation: glow 2s ease-in-out infinite alternate;
    /* El keyframe "glow" se comparte con el de los links generales de estilos.scss */ }

.linksInternos a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 60px;
  color: #f0f0f0;
  font-size: 0.9rem;
  padding: 0px 15px 0px 15px; }
  .linksInternos a:hover {
    color: #fff;
    animation: glow 2s ease-in-out infinite alternate;
    /* El keyframe "glow" se comparte con el de los links generales de estilos.scss */ }

/* Clases para marcas.html --------------------------------------------------*/
.contenido.marcas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 30px; }

.cajaMarca {
  width: 49%;
  margin: 5px;
  display: grid;
  align-items: start;
  grid-template-areas: "marcaImagen marcaLink" "marcaImagen marcaTexto";
  grid-gap: 0px;
  grid-template-rows: auto 1fr;
  grid-template-columns: 120px 1fr; }

.cajaMarcaImagen {
  grid-area: marcaImagen;
  float: left;
  height: 100%;
  margin: 10px; }
  .cajaMarcaImagen img {
    transition: transform .5s ease;
    overflow: hidden;
    height: 100px; }
  .cajaMarcaImagen:hover img {
    transform: scale(1.2); }

.cajaMarcaLink {
  grid-area: marcaLink; }
  .cajaMarcaLink a {
    text-decoration: none;
    line-height: 60px;
    color: #f0f0f0; }
    .cajaMarcaLink a:hover {
      color: #fff; }

.cajaTextoMarca {
  grid-area: marcaTexto;
  padding-right: 20px;
  text-align: justify; }

/* Clases para consultas.html -----------------------------------------------*/
.contenido.consultas {
  display: flex;
  text-align: left; }

.formConsultas {
  width: 80%;
  padding: 40px 10% 40px 10%;
  margin: auto;
  background-color: #0f0f0f; }
  .formConsultas input[type=text], .formConsultas input[type=email], .formConsultas textarea, .formConsultas select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: aliceblue;
    box-sizing: border-box;
    margin-top: 9px;
    margin-bottom: 45px;
    resize: vertical;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1rem; }
  .formConsultas input[type=submit] {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #0064c2;
    color: white;
    padding: 12px 20px;
    border: 1px solid #003f7a;
    border-radius: 4px;
    cursor: pointer;
    display: block; }
    .formConsultas input[type=submit]:hover {
      background-color: #0058aa; }

.cajaTelefonoForm, .cajaMarcas {
  width: 49%;
  display: inline-block; }

.cajaEmpresaParticular, .cajaMantenermeInformado {
  width: 49%;
  display: inline-block; }

.cajaMantenermeInformado {
  text-align: right; }

#lblParticular {
  margin-left: 15px; }

.cajaBoton {
  width: 100%;
  display: block; }

#btnEnviar {
  margin: 0 auto;
  display: block; }

/* Clases para contacto.html ------------------------------------------------*/
.contenido.contacto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }

.cajaContacto {
  width: 45%;
  display: grid;
  grid-template-areas: "cajaCiudad cajaCiudad" "cajaCiudad cajaCiudad" "cajaMapa cajaDireccion" "cajaMapa cajaDireccion" "cajaMapa cajaTelefono" "cajaMapa cajaTelefono" "cajaMapa cajaTelefono" "cajaMapa cajaTelefono";
  grid-template-columns: 50%;
  grid-template-rows: 12.5%;
  padding: 4px;
  margin: 10px;
  background-color: #181818;
  border: 2px solid #202020; }
  .cajaContacto div {
    padding: 4px; }

.cajaCiudad {
  grid-area: cajaCiudad; }

.cajaMapa {
  grid-area: cajaMapa; }
  .cajaMapa iframe {
    width: 100%;
    height: 260px;
    border: 1px solid #000; }

.cajaDireccion {
  grid-area: cajaDireccion;
  background: url("../images/location.png") no-repeat center 0px;
  background-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .cajaDireccion h1 {
    font-size: 1.1rem; }
  .cajaDireccion h2 {
    font-size: 0.9rem; }

.cajaTelefono {
  grid-area: cajaTelefono;
  background: url("../images/phone.png") no-repeat center 30px;
  background-size: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/*---------------------------------------------------------------------------*/
/* Media Query para Tablet --------------------------------------------------*/
/*---------------------------------------------------------------------------*/
@media (max-width: 1023px) {
  #gridGeneral {
    grid-template-areas: "cabecera" "menu" "contenido" "pie";
    grid-gap: 0px;
    grid-template-rows: 60px 60px auto 50px;
    grid-template-columns: 100%;
    height: 100vh; }
  header {
    flex-direction: row;
    justify-content: space-around; }
  nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-around; }
  /* Tablet marcas.html ---------------------------------------------------*/
  .cajaMarca {
    width: 100%; }
  /* Tablet consultas.html ------------------------------------------------*/
  .formConsultas input[type=text], .formConsultas input[type=email], .formConsultas textarea, .formConsultas select {
    padding: 6px;
    margin-top: 6px;
    margin-bottom: 20px;
    font-size: 0.8rem; }
  .cajaTelefonoForm, .cajaMarcas {
    width: 100%;
    display: block; }
  .cajaEmpresaParticular, .cajaMantenermeInformado {
    width: 100%;
    display: block; }
  .cajaMantenermeInformado {
    padding: 20px 0px 20px 0px;
    text-align: left; }
  #btnEnviar {
    margin-top: 20px; }
  /* Tablet contacto.html -------------------------------------------------*/
  .contenido.contacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
  .cajaContacto {
    width: 100%; } }

/*---------------------------------------------------------------------------*/
/* Media Query para Smartphone ----------------------------------------------*/
/*---------------------------------------------------------------------------*/
@media (max-width: 480px) {
  #gridGeneral {
    grid-template-areas: "cabecera" "menu" "contenido" "pie";
    grid-gap: 0px;
    grid-template-rows: 60px auto auto 50px;
    grid-template-columns: 100%;
    height: 100vh; }
  header {
    flex-direction: row;
    justify-content: space-around; }
    header h1 {
      font-size: 1.2rem; }
  nav {
    flex-direction: column; }
    nav ul li {
      display: block;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid gray; }
      nav ul li:first-child {
        border-top: 1px solid gray; }
      nav ul li a {
        width: 100%;
        line-height: 1.8em; }
  .tituloPagina {
    padding-top: 10px; }
  /* Smartphone index.html ------------------------------------------------*/
  .textoIndex {
    padding: 0px 10px 0px 10px; }
    .textoIndex h1 {
      font-size: 1.2rem !important; }
    .textoIndex p {
      font-size: 0.8rem; }
  .linksInternos, .linksInternos a {
    font-size: 0.8rem;
    padding: 0px 5px 0px 5px; }
  /* Smartphone marcas.html -----------------------------------------------*/
  .cajaMarca {
    grid-template-areas: "marcaLink" "marcaImagen" "marcaTexto";
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 100%;
    text-align: center; }
  .cajaTextoMarca {
    padding: 10px;
    font-size: 0.9rem; }
  /* Smartphone nosotros.html ---------------------------------------------*/
  .contenido.nosotros p {
    font-size: 0.8rem; }
  /* Smartphone consultas.html --------------------------------------------*/
  .formConsultas input[type=text], .formConsultas input[type=email], .formConsultas textarea, .formConsultas select {
    padding: 6px;
    margin-top: 6px;
    margin-bottom: 20px;
    font-size: 0.8rem; }
  .cajaTelefonoForm, .cajaMarcas {
    width: 100%;
    display: block; }
  .cajaEmpresaParticular, .cajaMantenermeInformado {
    width: 100%;
    display: block; }
  .cajaMantenermeInformado {
    padding: 20px 0px 20px 0px;
    text-align: left; }
  /* Smartphone contacto.html ---------------------------------------------*/
  .contenido.contacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .cajaContacto {
    width: 90%;
    display: grid;
    grid-template-areas: "cajaCiudad" "cajaMapa" "cajaDireccion" "cajaTelefono";
    grid-template-columns: 100%;
    justify-items: center;
    padding: 4px;
    background-color: #181818;
    border: 2px solid #202020; }
  .cajaDireccion {
    background: url("../images/location.png") no-repeat center left;
    width: 100%; }
    .cajaDireccion h1 {
      font-size: 1rem; }
    .cajaDireccion h2 {
      font-size: 0.8rem; }
  .cajaTelefono {
    background: url("../images/phone.png") no-repeat center left;
    width: 100%; } }
